html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #333333;
}

section {
  height: 100%;

}

#principal {
  width: 100%;
  height: 100%;
}

#menu ul {
  padding: 0px;
  margin: 0px;
  float: left;
  width: 100%;
  height: 75px;
  background-color: #251d1d;
  list-style: none;
  font: 100% Tahoma;
  opacity: .9;
  position: fixed;
  z-index: 150;
}

#logostella {
  height: 100%;
  margin-left: 3%;
  margin-top: .5%;
  float: left;
}

#logostella img {
  height: 80%;
}

#telefones {
  height: 100%;
  margin-top: 0%;
  width: 17%;
  margin-left: 2%;
  float: left;
}

#telefones p {
  color: #d4d4d4;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin-top: 2%;
  line-height: 100%;
  font-size: 120%;
}

#linkstels a {
  color: #d4d4d4;
  text-decoration: none;
}

#logowhats {
  width: 20px;
}

#menu ul h1 {
    position: fixed;
    float: left;
    margin-left: 2%;
    margin-top: 1%;
    color: #e0e0e0;
    font-family: 'Marck Script', cursive;
    font-size: 185%;
}

#menu ul li {
    display: inline;
}

#menu ul li button {
    background-color: #251d1d;
    color: #d4d4d4;
    text-decoration: none;
    height: 100%;
    float: right;
    width: 10%;
    font-size: 90%;
    font-weight: bold;
    transition: 1s;
    border: none;
}

#menu ul li button:hover {
    background-color: #a1a1a1;
    color: #242424;
}

#firstimg {
    width: 100%;
}

#firstimg img {
    width: 100%;
}

.sessoes {
    width: 60%;
    right: 0;
    left: 0;
    margin: auto;
}

.titulos {
    font-family: Tahoma;
    font-weight: bold;
    color: #e0e0e0;
}

#nossacasa p {
    font-family: 'Hind', sans-serif;
    font-weight: bold;
    color: #e0e0e0;
    font-size: 90%;
    text-align: left;
}

#nossacasa p:nth-of-type(1) {
    width: 100%;
    margin-right: 2%;
}

#nossacasa p:nth-of-type(2) {
    width: 100%;
    margin-right: 2%;
}

#nossacasa p:nth-of-type(3) {
    width: 100%;
}

#marca1 {
    height: 3%;
}

#fachada {
    width: 55%;
    float: right;
    margin: 1%;
    right: 0;
}

#fachada img {
    width: 100%;
    max-width: 300px;
    margin-left: 10%;
}

.paineispromo {
  border: 1px solid;
  border-color: #e0e0e0;
  width: 60%;
  display: block;
  text-align: center;
  margin: 2% auto;
}

.paineispromo h3 {
  font-size: 300%;
  font-family: 'Baloo Bhaina', cursive;
  font-weight: bolder;
  color: #e0e0e0;
  margin-bottom: 0.5%;
}

.paineispromo p {
  color: #e0e0e0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 190%;
  font-weight: bold;
  line-height: 120%;
}

.paineispromo p:last-of-type {
  color: #ff2424;
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  font-size: 300%;
  margin-top: 2%;
}

.mostrarsalgadas {
    width: 100%;
    height: auto;
    position: static;
    transition: 1s;
    animation-name: exibir;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    display: none;
}

.mostrardoces {
    width: 100%;
    height: auto;
    position: static;
    transition: 1s;
    animation-name: exibir;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    display: none;
}

.mostrarfogazzas {
  width: 100%;
  height: auto;
  position: static;
  transition: 1s;
  animation-name: exibir;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  display: none;
}

.mostrarbebidas {
    width: 100%;
    height: auto;
    position: static;
    transition: 1s;
    animation-name: exibir;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    display: none;
}

.mostrarbordas {
    width: 100%;
    height: auto;
    position: static;
    transition: 1s;
    animation-name: exibir;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    display: none;
}

@keyframes exibir {
    0% { visibility: hidden; opacity: 0; }
    25% { visibility: visible; opacity: 1; }
    75% { visibility: visible; opacity: 1; }
}

.mostrarsalgadas table {
    width: 100%;
    font-family: 'Hind', sans-serif;
    color: #e0e0e0;
}

.mostrardoces table {
    width: 100%;
    font-family: 'Hind', sans-serif;
    color: #e0e0e0;
}

.mostrarfogazzas table {
    width: 100%;
    font-family: 'Hind', sans-serif;
    color: #e0e0e0;
}

.mostrarbebidas table {
    width: 100%;
    font-family: 'Hind', sans-serif;
    color: #e0e0e0;
}

.mostrarbordas table {
    width: 100%;
    font-family: 'Hind', sans-serif;
    color: #e0e0e0;
}

.mostrarsalgadas table tr:nth-child(odd) {
    background-color: #ccc;
    color: black;
}

.mostrardoces table tr:nth-child(odd) {
    background-color: #ccc;
    color: black;
}

.mostrarfogazzas table tr:nth-child(odd) {
    background-color: #ccc;
    color: black;
}

.mostrarbebidas table tr:nth-child(odd) {
    background-color: #ccc;
    color: black;
}

.mostrarbordas table tr:nth-child(odd) {
    background-color: #ccc;
    color: black;
}

.mostrarsalgadas table th {
    text-align: left;
}

.mostrardoces table th {
    text-align: left;
}

.mostrarfogazzas table th {
    text-align: left;
}

.mostrarbebidas table th {
    text-align: left;
}

.mostrarbordas table th {
    text-align: left;
}

.mostrarsalgadas button {
    border: none;
    background: transparent;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    color: #ff5252;
    transition: 1s;
    width: 100%;
    font-size: 200%;
    margin: 0 auto;
    display: block;
}

.mostrardoces button {
    border: none;
    background: transparent;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    color: #ff5252;
    transition: 1s;
    width: 100%;
    font-size: 200%;
    margin: 0 auto;
    display: block;
}

.mostrarfogazzas button {
    border: none;
    background: transparent;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    color: #ff5252;
    transition: 1s;
    width: 100%;
    font-size: 200%;
    margin: 0 auto;
    display: block;
}

.mostrarbebidas button {
    border: none;
    background: transparent;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    color: #ff5252;
    transition: 1s;
    width: 100%;
    font-size: 200%;
    margin: 0 auto;
    display: block;
}

.mostrarbordas button {
    border: none;
    background: transparent;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    color: #ff5252;
    transition: 1s;
    width: 100%;
    font-size: 200%;
    margin: 0 auto;
    display: block;
}

#abresalgadas {
    border: none;
    background: transparent;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    color: #ff5252;
    transition: 1s;
    width: 80%;
    font-size: 200%;
    margin: auto;
    left: 0;
    right: 0;
    display: block;
    animation-name: esconder;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    display: block;
}

#abredoces {
    border: none;
    background: transparent;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    color: #ff5252;
    transition: 1s;
    width: 80%;
    font-size: 200%;
    margin: auto;
    left: 0;
    right: 0;
    display: block;
    animation-name: esconder;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    display: block;
}

#abrefogazzas {
    border: none;
    background: transparent;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    color: #ff5252;
    transition: 1s;
    width: 80%;
    font-size: 200%;
    margin: auto;
    left: 0;
    right: 0;
    display: block;
    animation-name: esconder;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    display: block;
}

#abrebebidas {
    border: none;
    background: transparent;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    color: #ff5252;
    transition: 1s;
    width: 80%;
    font-size: 200%;
    margin: auto;
    left: 0;
    right: 0;
    display: block;
    animation-name: esconder;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    display: block;
}

#abrebordas {
    border: none;
    background: transparent;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    color: #ff5252;
    transition: 1s;
    width: 80%;
    font-size: 200%;
    margin: auto;
    left: 0;
    right: 0;
    display: block;
    animation-name: esconder;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    display: block;
}

.celulas {
    text-align: center;
}

#numeropizza {
    width: 5%;
}

#saborpizza {
    width: 25%;
    text-align: center;
}

#descricao {
    width: 60%;
}

#precopizza {
    width: 10%;
    text-align: center;
}

@keyframes esconder {
    0% { visibility: hidden; opacity: 0; }
    25% { visibility: visible; opacity: 1; }
    75% { visibility: visible; opacity: 1; }
}

#sessaocardapio button:hover {
    color: #7f7676;
}

#sessaodelivery {
    margin-top: 1%;
}

#sessaolocalizacao {
    margin-bottom: 2%;
}

#sessaolocalizacao iframe {
    width: 100%;
    height: 600px;;
    display: block;
}

#sessaolocalizacao p {
    font-weight: bold;
}

#sessaocontato {
    width: 100%;
    background-color: #1a1a1a;
    color: #d5d6d7;
    padding-top: .5%;
}

#sessaolocalizacao p {
    text-align: center;
    font-family: 'Hind', sans-serif;
    color: #e0e0e0;
}

#sessaocontato p {
    text-align: center;
    font-family: 'Hind', sans-serif;
    margin-top: 0%;
    margin-bottom: 2%;
}

#sessaocontato h2 {
    margin-bottom: 1%;
    text-align: center;
    font-family: 'Hind', sans-serif;
}

#sessaocontato h3 {
  font-family: 'Hind', sans-serif;
  text-align: center;
  font-size: 300%;
  margin: 1% auto;
}

#linkscontato a {
  color: #e0e0e0;
}

#sessaocontato img {
  width: 30px;
}

#sessaocontato div {
    height: 100%;
}

#copyright {
    font-family: Tahoma;
}
